.carousel {
    padding: 81px 0px;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {   /* для Слик слайдера .slick_prev */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        border: none;
        background-color: #fff;
        img{
           width: 31px;
           height: 50px; 
        }
    }
    .next {
        right: -70px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    /* .tns-nav {
        button {
            background-color: red;
            height: 30px;
            width: 50px;
        }
        .tns-nav-active {
            background-color: blue;
        }
    } */   /* Стилизация точек слайдера, необходимо только отключить в скрипте nav:false */
}
